body {
    background-color:black;
    font-family:arial;
    color:white;
}
.maindiv {
    background-color:white;
    font-family:arial;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align-content:center; 
}
h1{
    color:grey;
    font-family:verdana}


